@charset "utf-8";

a         { text-decoration: none }
a:link    { color: #404040;  }
a:visited { color: #404040;  }

.expandCollapseAll { color: #808080; }
.go_top            { font-size: 90%; padding-left: 5px; text-align: left; background-color: #FFFFFF; font-family: Fujitsu Sans,Arial,Osaka,sans-serif; }

.actionExpandAll     { padding-top: 3px; padding-left: 5px; font-size: 14px; background-color: #FFFFFF; line-height: 100%; font-family: Fujitsu Sans,Arial,Osaka,sans-serif; }
.actionCollapseAll   { padding-top: 3px; padding-left: 5px; font-size: 14px; background-color: #FFFFFF; line-height: 100%; font-family: Fujitsu Sans,Arial,Osaka,sans-serif; }
.toclevel1           { padding-top: 3px; padding-left: 5px; font-size: 14px; background-color: #FFFFFF; line-height: 100%; font-family: Fujitsu Sans,Arial,Osaka,sans-serif; }
.toclevel1_isopen    { padding-top: 3px; padding-left: 5px; font-size: 14px; background-color: #E6E6E6; line-height: 100%; font-family: Fujitsu Sans,Arial,Osaka,sans-serif; }
.toclevel1_isnotopen { padding-top: 3px; padding-left: 5px; font-size: 14px; background-color: #FFFFFF; line-height: 100%; font-family: Fujitsu Sans,Arial,Osaka,sans-serif; }
.toclevel2           { padding-top: 1px; padding-left: 5px; font-size: 14px; background-color: #FFFFFF; line-height: 100%; font-family: Fujitsu Sans,Arial,Osaka,sans-serif; }
.toclevel2_isopen    { padding-top: 1px; padding-left: 5px; font-size: 14px; background-color: #E6E6E6; line-height: 100%; font-family: Fujitsu Sans,Arial,Osaka,sans-serif; }
.toclevel2_isnotopen { padding-top: 1px; padding-left: 5px; font-size: 14px; background-color: #FFFFFF; line-height: 100%; font-family: Fujitsu Sans,Arial,Osaka,sans-serif; }
.toclevel3           { padding-top: 0px; padding-left: 5px; font-size: 14px; background-color: #FFFFFF; line-height: 100%; font-family: Fujitsu Sans,Arial,Osaka,sans-serif; }
.toclevel3_isopen    { padding-top: 0px; padding-left: 5px; font-size: 14px; background-color: #E6E6E6; line-height: 100%; font-family: Fujitsu Sans,Arial,Osaka,sans-serif; }
.toclevel3_isnotopen { padding-top: 0px; padding-left: 5px; font-size: 14px; background-color: #FFFFFF; line-height: 100%; font-family: Fujitsu Sans,Arial,Osaka,sans-serif; }
.spanExpandCollapse  {                                      font-size: 14px; }

.tocspace          { padding-left: 15px; }
.fold1 ,.fold2     { display: none; }
.currenttitle      { background-color: #BFBFBF; }
.not_currenttitle  { background-color: transparent; }
.open_title        { background-color: #E6E6E6; }
.toc_current       { background-color: #BFBFBF; }
.toc_open          { background-color: #E6E6E6; }
.toc_notopen       { background-color: transparent; }
.tocExpandCollapse { background-color: #FFFFFF; }
.single_topic      { border:0px; vertical-align:middle;  }
.alow_top          { border:0px; vertical-align:middle;  }

.isCollapsed1, .isCollapsed2 , .open1 , .open2 , .isCollapsedall , .openall { cursor: pointer; }
.spanExpandCollapse { cursor: default; }