/* (Marcelo 26-11-20) Modified by FAST */
@charset "utf-8";
@font-face {
 font-family: FujitsuInfinityPro;
  font-display:block;
  src: url('https://www.postgresql.fastware.com/hubfs/_Global/Fonts/FujitsuInfinityPro-Regular.woff2') format("woff2"),
       url('https://www.postgresql.fastware.com/hubfs/_Global/Fonts/FujitsuInfinityPro-Regular.woff') format("woff");
  font-weight:400
}
body { background-color: #E8E8E8; margin: 0px; padding: 0px; font-family: 'FujitsuInfinityPro',Arial,Osaka,sans-serif; font-style: normal; color: #0C246F; font-size: 100%; line-height: 120%; }
.cover_header {display: none; }
.p_cover_header { background-repeat: repeat-x; height: 70px; width: 100%; white-space: nowrap; }
.cover_header_title { vertical-align: middle; height: 10px; text-align: right; clear: right; padding-right: 12px; white-space: nowrap; }
.cover_header_graphic { background-color:#390F0E; vertical-align: middle; height: 32px; text-align: right; clear: right; float: none; margin: 0px; padding: 0px; white-space: nowrap; }
.cover_logo { height: 64px; padding-left: 24px; margin-top: 10px; white-space: nowrap; clear: none; float: none; }
.cover_title_area { margin-right: 60px; margin-left: 60px; margin-top: 0px; }
.nomal_products { vertical-align: middle; border-left-style: solid; border-top-color: #0c246f; border-right-color: #0c246f; border-bottom-color: #0c246f; border-left-color: #0c246f; margin-top: 25px; margin-right: 12px; padding-left: 12px; border-top-width: 6px; border-right-width: 6px; border-bottom-width: 6px; border-left-width: 6px; }
.product_name { font-size: 180%; font-family: 'FujitsuInfinityPro',Arial,Osaka,sans-serif; line-height: 120%; vertical-align: middle; color:  #A4312E;}
.manual_title { font-size: 240%; font-family: 'FujitsuInfinityPro',Arial,Osaka,sans-serif; line-height: 120%; vertical-align: middle; color: #000000; }
.sub_item { font-size: 140%; font-family: 'FujitsuInfinityPro',Arial,Osaka,sans-serif; line-height: 120%; vertical-align: middle; color: #666666; }
.product_name_nomal { font-size: 180%; font-family: 'FujitsuInfinityPro',Arial,Osaka,sans-serif; line-height: 120%; vertical-align: middle; }
.manual_title_nomal { font-size: 240%; font-family: 'FujitsuInfinityPro',Arial,Osaka,sans-serif; line-height: 120%; vertical-align: middle; color: #000000; }
.sub_item_nomal { font-size: 140%; font-family: 'FujitsuInfinityPro',Arial,Osaka,sans-serif; line-height: 120%; vertical-align: middle; color: #666666; }
.os_type { white-space: nowrap; margin-top: 12px; height: 230px; float: none; }
.os_left { height: 24px; width: 12px; clear: none; float: left; white-space: nowrap; }
.os_center { background-color: #A30B1A; text-align: center; vertical-align:middle; clear: none; float: left; padding: 5px; font-family: 'FujitsuInfinityPro',Arial,Osaka,sans-serif; font-size: 100%; font-weight: normal; white-space: nowrap; color:#FFFFFF;}
.os_right { height: 24px; width: 12px; clear: right; float: left; white-space: nowrap; }
.manual_information { font-family: 'FujitsuInfinityPro',Arial,Osaka,sans-serif; font-size: 100%; color: #000000; float: left; padding-bottom: 32px; }
.next { float: right; text-align: right; clear: right; }
.footer { clear: both; text-align: right; }
.copyright { font-family: 'FujitsuInfinityPro',Arial,Osaka,sans-serif; font-size: 70%; padding: 12px; color: #000000; }
